<section id="gigs" class="container">
  <h1><a href="/users" class="back-button">Back</a></h1>
  <div class="profile">
    <img src={{user.photo}} alt="Avatar" class="avatar">
    <h3>{{user.name}}</h3>
    <p>{{user.email}}</p>
    <br>
    <a href="/users/{{user.id}}/edit" class="btn btn-reverse">Edit</a>
    <br><br>
  </div>
</section>