<section id="edit" class="container">
  <h1><a href="/users/{{user.id}}" class="back-button">Back</a></h1>
  <div class="form-wrap">
    <h1>Edit Profile</h1>
    <form action="/users/{{user.id}}/edit" method="POST" enctype="multipart/form-data">
      <div class="input-group">
        <label for="name">Name</label>
        <input required type="text" name="name" id="name" class="input-box" placeholder="eg. John Doe" maxlength="100"
          value={{user.name}} required>
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="input-box" placeholder="eg. johndoe@mail.com" maxlength="100"
          value={{user.email}} required>
      </div>
      <input type="file" , name="photo">
      <input type="submit" value="Edit Profile" class="btn btn-reverse">
      <h3>{{error}}</h3>
    </form>
  </div>
</section>