<section id="gigs" class="container">
  <h1>All Users</h1>
  {{#each users}}

  <div class="gig" onclick="location.href='/users/{{this.id}}';">
    <img src={{this.photo}} alt="Avatar" class="avatar">
    <h3>{{this.name}}</h3>
    <p>{{this.email}}</p>
  </div>
  {{else}}
  <p>No users available</p>
  {{/each}}
</section>